
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Usuarios</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
    <h1>Lista de Categorias</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Descricao</th>
        </tr>
        <tr th:each="categoria : ${categorias}">
            <td th:text="${categoria.id}">Id</td>
            <td th:text="${categoria.descricao}">Nombre</td>
            <td>
                <a th:href="@{'/categoria/editar/' + ${categoria.id}}">Editar</a>
                <a th:href="@{'/categoria/eliminar/' + ${categoria.id}}">Eliminar</a>
            </td>
        </tr>
    </table>
</html>
