<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Página Inicial</title>
</head>
<body>
    <div layout:fragment="content">
        <h1>Bem-vindo ao Sistema de Cursos</h1>
        <div class="row">
            <div class="col-md-4" th:each="categoria : ${categorias}">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${categoria.nome}"></h5>
                        <a th:href="@{/cursos/categoria/{id}(id=${categoria.id})}" class="btn btn-primary">Ver Cursos</a>
                    </div>
                </div>
            </div>
        </div>
        <form th:action="@{/cursos/buscar}" method="get" class="mt-4">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Buscar curso" name="nome">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Buscar</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>