<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de produto</title>
</head>

<body>
    <h2>Cadastro de produto</h2>
    <form action="" method="post">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required>
        <label for="preco">Preco:</label>
        <input type="text" id="preco" name="preco" required>
        <label for="idCategoria">Categoria:</label>
        <select id="idCategoria" name="idCategoria" required>
            <option value="">Selecione uma categoria</option>
            <th:block th:each="categoria : ${categorias}">
                <option th:value="${categoria.id}" th:text="${categoria.nome}"></option>
            </th:block>
            <input type="submit" value="Cadastrar">
    </form>
</body>

</html>